daewook/bigdatacertificationkr
minjeong/bigdatacertificationkr
seojin/bigdatacertificationkr
seojin/house-prices-advanced-regression-techniques
jinwoo/bigdata
daewook/house-prices-advanced-regression-techniques
.DS_Store
minjeong/house-prices-advanced-regression-techniques
daewook/input
daewook/catboost_info
daewook/epoch-4-val_loss-0.1057-val_acc-0.9682.keras
seojin/epoch-9-val_loss-0.0820-val_acc-0.9801.keras